input[type='range'] {  
    -webkit-appearance: none;  
    width: 100px;  
    height: 10px;  
    padding: 0px;  
    -webkit-border-radius: 5px;  
    border-radius: 15px;  
    border: 1px solid #525252;  
    background-color: #000000;  
}  


input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background-color: #7309AA;  
    width: 10px;  
    height: 10px;  
    -webkit-border-radius: 10px;
    border-radius: 10px;  
    border: 1px solid #7309AA;

} 
     /*
	Good source site for Sliders. 
	http://davidbcalhoun.com/2011/implementing-iphone-slider-unlock-with-input-type-range
     */

form{
	border: 1px solid #28A6B6;
	padding: 5px;
	background-color:#28A6B6;
}

header#newOrder {
	display:block;
	background:gray;
	font-size:22px;
	font-weight:bold;
	padding:6px;
}

textarea {
    resize: none;
}

input { 
border: 0.5pt solid #000000;
font-size: 10pt;
height: 12.5pt;
line-height: 10pt;
padding: 0 0 -2.5pt 0;
}

ul{ 
  list-style-type: none;
}